/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2b2400;
	--sl-color-accent: #7b6900;
	--sl-color-accent-high: #d8c984;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f5ece1;
	--sl-color-gray-2: #cac0b3;
	--sl-color-gray-3: #9b886f;
	--sl-color-gray-4: #66553d;
	--sl-color-gray-5: #45351e;
	--sl-color-gray-6: #33230d;
	--sl-color-black: #1e170d;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #e3d8a5;
	--sl-color-accent: #7d6b00;
	--sl-color-accent-high: #3b3200;
	--sl-color-white: #1e170d;
	--sl-color-gray-1: #33230d;
	--sl-color-gray-2: #45351e;
	--sl-color-gray-3: #66553d;
	--sl-color-gray-4: #9b886f;
	--sl-color-gray-5: #cac0b3;
	--sl-color-gray-6: #f5ece1;
	--sl-color-gray-7: #faf6f0;
	--sl-color-black: #ffffff;
}